@mixin fonts($size, $color, $weight) {
   font-size: $size;
   color: $color;
   font-weight: $weight;
}

form {
   margin: 0 2%;
}

input {
   border: none;
   border-bottom: 1.5px solid #C46D5E;
   background: transparent;
   font-size: 20px;
   padding: 4px 12px;
   font-weight: 300;
   &::before {
      font-family: 'Material Icons';
      content: ' search';
      font-size: 20px;
   }
}

.search-class {
   margin: 1% 2%;
   p {
      font-family: 'Nunito Sans', sans-serif;
      display: inline-block;
      margin-right: 2%;
      cursor: pointer;
      color: #C46D5E;

      &:hover::after {
         content: '';
         display: block;
         margin-top: 3px;
         width: 80%;
         border: 1px solid #C46D5E;
         color: #C46D5E;
      }

      &:hover {
         font-size: 17px;
      }
   }
}

.main-card {
   font-family: 'Nunito Sans', sans-serif;
   width: 48%;
   height: 43vh;
   margin: 6% 2%;
   box-shadow: 1px 1px 6px 5px rgba(#333, 0.1);
}

.avi-panel {
   width: 35%;

   img {
      width: 100%; 
      background-color: #DAA588;
      margin: 0;
   }
   button {
      width: 100%;
      height: 25%;
      background: #F3C98B;
      border: none; 
      color: #707070;
      font-weight: 600;
      font-size: 14px;
      padding: 6px 30px;
      &:after {
         font-family: 'Material Icons';
         content: ' arrow_forward';
         font-size: 16px;
      }
   }
}

.details {
   width: 60%;
   margin: 0 1%;

   p {
      display: inline-block;
      margin-right: 30px;
      font-size: 14px;
      text-align: center;
      color: #DAA588;

      span {
         @include fonts(28px, #333, 700);
      }
      &:after {
         content: " ";
         display: block;
         height: 60px;
         border: 0.4px solid rgba(#DAA588, 0.4);
         width: 1px; 
         position: absolute;
         top: 68%;
         margin-left: 5.5%;
      }
   }
   h3 {
      margin-top: 16%;
      font-size: 30px;
      color: #664C43;
      &:after {
         content: '';
         display: block;
         width: 60%;
         margin-top: 6px;
         border: 0.4px solid rgba(#DAA588, 0.4);
      }
   }

}