form {
   margin: 0 2%;
}

input {
   border: none;
   border-bottom: 2px solid #C46D5E;
   background: transparent;
   font-size: 20px;
   padding: 4px 12px;
   font-weight: 400;
   &:before {
      font-family: 'Material Icons';
      content: 'search';
      font-size: 20px;
   }
}

.search-class {
   margin: 1% 2%;
   p {
      font-family: 'Nunito Sans', sans-serif;
      display: inline-block;
      margin-right: 2%;
      cursor: pointer;
      &:hover::after {
         content: '';
         position: absolute;
         top: 2%;
         border: 1px solid #C46D5E;
         color: #C46D5E;
      }
   }
}